---
// src/components/EmptyState.astro
const {
  title = 'No Data Found',
  message = 'There is no information to display at the moment.',
  buttonText = 'Add New Item',
  icon = 'fa-folder-open', // Default icon
  type = 'button', // 'button' atau 'link'
  link = '#', // Jika type adalah 'link'
  onClick = '', // Jika type adalah 'button' (untuk Alpine.js)
} = Astro.props
---

<div class="flex w-full flex-col items-center justify-center p-4 text-center">
  <div
    class="mb-4 flex h-24 w-24 items-center justify-center rounded-full bg-slate-100"
  >
    <i class={`fa-solid ${icon} text-3xl text-indigo-400`}></i>
  </div>

  <h3 class="font-jakarta color-app-text mb-2 text-xl font-extrabold">
    {title}
  </h3>
  <p class="mx-auto mb-8 max-w-70 text-sm leading-relaxed text-slate-400">
    {message}
  </p>

  {
    buttonText && (
      <div>
        {type === 'link' ? (
          <a
            href={link}
            class="btn-primary inline-flex w-full items-center justify-center gap-2"
          >
            <i class="fa-solid fa-plus" />
            {buttonText}
          </a>
        ) : (
          <button
            @click={onClick}
            class="btn-base btn-primary inline-flex w-full items-center justify-center gap-2"
          >
            <i class="fa-solid fa-plus" />
            {buttonText}
          </button>
        )}
      </div>
    )
  }
</div>
